

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#mainContent{
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: lightslategray;
    color: black;
    height: 10px;
}

.navbar ul{
    text-align: right;
    list-style-type: none;
    background-color:lightslategray;

}

.navbar ul li a{
text-decoration: none;
color: black;
}

.logo{
    text-transform: uppercase;
}

.logo a{
    text-decoration: none;
    color: black;
}

li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    font-size: large;
}


#contenedor{
    background-color: antiquewhite;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 25px;
}

.cabecera{
    border: red solid 3px;

}

.contenido{
    background-color: aquamarine;

}

.destacar{
    background-color:blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}

.destacado{
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 500px;
}