*{
    margin: 0;
    padding: 0;
}

.form-container{
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: lightgrey;
}

.navbar{
    padding: 0px 0px!important;
}

.container-fluid{
width: 100%;
padding: 5px;
background-color: lightgray!important;
color: black;
display: inline-block;
justify-content: flex-end!important;
box-sizing: border-box;
}

.header{
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    padding-top: 16px;
    padding-left: 16px;
}

.carousel{
background-color: lightgrey!important;
width: 60%;
justify-content: center;
margin-left: 225px;
}

.body{
    background-color: black!important;
    background:  black;
}

.main{
background-color: black;
background: black;
}

.section{
    background-color: black;
    background: black;
}


.card{
    margin-left: 400px;
    background-color: lightgrey;

}
.col-md-4{
    margin-top: 100px;
    background-color: lightslategray;
}

.row{
background-color: lightslategray;
}

.img .card{
    background-color: lightslategray;
}

.card-group{
margin-left: -200px;
margin-right: 100px;
background-color: lightslategray;
}

#trayectoria{
    background-color: lightslategray;
    text-align: center;
    margin-left: 250px;
    margin-right: 150px;
}

.footer{
    background-color: lightgrey;
    Display: flex;
Flex-wrap: wrap;
}

.map{
    text-align: right;
    margin-right: 100px;
    padding-top: 15px;
    padding-right: 0px;
    width: 38%;
    justify-content: right;
}

.data{
    text-align: left;
    padding-left: 100px;
    width: 38%;
}

.data ul{
    float: left;
}
.data ul li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    margin-top: 50px;
}

.fotofooter{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.derechos{
    text-align: center;
    margin-left: 600px;
}